.image {
    border-radius: var(--project-border-radius);
    max-height: 80vh;
    width: auto;
    aspect-ratio: 182/100;
    max-width: 1400px;
    vertical-align: middle;
}

@media (max-width: 650px) {

  .image {
    border-radius: 10px;
  }

}

@media (max-width: 390px) {

  .image {
    border-radius: 5px;
  }

}