#todo {
    display: flex;
    justify-content: space-between;
}

#todo_about {
    overflow: hidden;
    max-height: 100vh;
}

.div_img{
    z-index: 100;
    position: absolute;
}

.div_img:hover {
    cursor: move;
}

.div_img img {
    border-radius: 40px;
    justify-self: center;
    pointer-events: none;
}

#alba img {
    transform: rotate(-5deg);
}

#tulipan img {
    transform: rotate(10deg);
}

#presentacion {
    padding: 0 2rem;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

#presentacion div {
    max-width: 750px;
}

#presentacion p:nth-child(-n+2) {
    margin-bottom: 1em;
    position: relative;
}

#datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 6em;
}

.seccion_datos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.seccion_datos h2 {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 400;
}

.seccion_datos a {
    text-decoration: underline;
}

.seccion_datos a,
.seccion_datos p {
    font-size: 1.25em;
}

#contacto p {
    display: inline-block;
}

@media (max-width: 1350px) {

    #todo {
        display: flex;
        flex-direction: column;
    }

    #presentacion {
        justify-content: initial;
    }

    #datos {
        margin-top: 4em;
        padding: 0 2em;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        justify-content: initial;
        width: 1000px;
        gap: 1em;
    }

    #tulipan {
        width: 700px;
    }

    #alba {
        width: 300px;
    }

    .seccion_datos {
        margin-bottom: 1em;
    }

    #contacto, #experiencia, #formacion {
        grid-column: 1/2;
    }

    #premios, #prensa {
        grid-column: 2/3;
    }

    #premios {
        grid-row: 1/2;
    }

    #prensa {
        grid-row: 2/3;
    }

}

@media (max-width: 1100px) {

    #alba, #tulipan {
        display: none;
    }

}

@media (max-width: 900px) {

    #datos {
        width: 810px;
    }

}

@media (max-width: 790px) {

    #presentacion {
        font-size: 1.25em;
    }

    .seccion_datos h2 {
        font-size: 1.2em;
    }

    .seccion_datos p, .seccion_datos a {
        font-size: 1em;
    }

    #datos {
        width: 710px;
    }

}

@media (max-width: 670px) {

    #premios, #prensa {
        grid-column: 1/2;
    }

}

@media (max-width: 400px) {
    
    #todo {
        align-items: center;
        padding: 0 2em;
    }

    #todo img {
        border-radius: 15px;
    }

    #presentacion {
        padding: 0;
        font-size: 1em;
    }

    #datos {
        align-self: flex-start;
        padding: 0;
    }

    .seccion_datos h2 {
        margin-bottom: 0.5em;
        font-size: 1em;
    }
    
    .seccion_datos a,
    .seccion_datos p {
        font-size: 1em;
    }

}