#todo {
    display: flex;
    justify-content: space-between;
}

#todo_about {
    overflow: hidden;
    min-height: 100vh;
}

.div_img{
    z-index: 100;
    position: absolute;
}

.div_img:hover {
    cursor: move;
}

.div_img img {
    border-radius: 40px;
    justify-self: center;
    pointer-events: none;
}

#alba img {
    transform: rotate(-5deg);
}

#tulipan img {
    transform: rotate(10deg);
}

#presentacion {
    padding: 0 2em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

#presentacion div {
    max-width: 750px;
}

#presentacion p:nth-child(-n+2) {
    margin-bottom: 1em;
    position: relative;
}

#datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 6em;
}

.seccion_datos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.seccion_datos h2 {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 400;
}

.seccion_datos a {
    text-decoration: underline;
}

.seccion_datos a,
.seccion_datos p {
    font-size: 1.25em;
}

@media (max-width: 400px) {
    
    #todo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding: 0 2em;
    }

    #todo img {
        border-radius: 15px;
    }

    #presentacion {
        padding: 0;
        font-size: 0.75em;
    }

    #datos {
        align-self: flex-start;
    }

    .seccion_datos h2 {
        margin-bottom: 0.5em;
        font-size: 1em;
    }
    
    .seccion_datos a,
    .seccion_datos p {
        font-size: 0.75em;
    }

}