#todo {
    padding: 0 2em;
}

#textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6em;
}

#textos_izq {
    min-width: 260px;
}

#imagenes {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.imagen {
    border-radius: 40px;
}