#lamp_tarj {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 48.6738117% 2em 49.3571883%;
}

#lamp_tarj img:first-child {
    grid-column: 1/2;
}

#lamp_tarj img:nth-child(2) {
    grid-column: 3/4;
}

#videofos {
    max-width: clamp(1em, 1600px, calc(100vw - 4em));
}