#lamp_tarj {
    width: 100%;
    max-width: 1600px;
    display: flex;
    gap: 2em;
}

#lamp_tarj div {
    flex-grow: 1;
}

#lamp_tarj img{
    height: 100%;
    width: 100%;
}

#videofos {
    max-width: 100%;
}

@media (max-width: 400px) {

    #lamp_tarj {
        gap: 1em;
    }

}