#fotos {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px
}

.foto {
    width: calc((100% - 30px) / 4);
    height: 100%;
    border-radius: var(--project-border-radius);
}

.foto:hover {
    cursor: pointer;
}

#foto_grande {
    height: 100vh;
    width: 100%;
    padding: 2em;
    position: fixed;
    z-index: 100;
    display: grid;
    opacity: 0;
    transition: opacity .5s ease-in;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    pointer-events: none;
}

#cont_grande {
    display: grid;
    place-items: center;
    max-height: 90vh;
}

#img_grande {
    max-height: 90vh;
    object-fit: contain;
}

@media (max-width: 1300px) {
    .foto {
        border-radius: 10px;
    }
}

@media (max-width: 1000px) {
    .foto {
        border-radius: 8px;
        width: calc((100% - 20px) / 3);
    }
}

@media (max-width: 770px) {
    #fotos {
        padding: 0 30px;
    }

    .foto {
        width: calc((100% - 10px) / 2);
    }

}

@media (max-width: 500px) {
    .foto {
        border-radius: 5px;
    }

    #fotos {
        padding: 0 20px;
    }
}