html,
body {
  padding: 0;
  margin: 0;
  /* font-family:  Helvetica Neue, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif; */
  background-color: #B6B6B6;
  font-family: var(--helvetica-neue), Segoe UI;
  cursor: none !important;
}

a {
  color: black;
  text-decoration: none;
  cursor: none;
}

*:hover {
  cursor: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}






.navigation-wrapper {
  position: relative;
  max-width: clamp(1em, 1600px, calc(100vw -  4em));
  overflow: hidden;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: white;
  cursor: pointer;
  filter: invert();
}

.arrow--left {
  left: 25px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform-origin: 50% 25%;
  -webkit-transform-origin: 50% 25%;
}

.arrow--right {
  left: auto;
  right: 25px;
}

.keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flare {
  position: fixed;
  pointer-events: none;
  transform: translate(-45%, -45%);
  z-index: 999999 !important ;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important; /* Let's hide the default cursor so it looks way better */
}

/* We need to remove this custom cursor in mobile devices */
@media screen and (max-width: 768px) {
  .flare {
    display: none;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.hoverable {
  width: 40px !important;
  height: 40px !important;
}

.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.expand {
  animation: cursorAnim .5s forwards;
}

@media (min-width: 1600px) {

  .navigation-wrapper {
    width: 100%;
    max-width: 1600px;
  }

}

@media (max-width: 450px) {

  .arrow--right {
    right: 10px;
  }
  
  .arrow--left {
    left: 10px;
  }

}