#tote_botella {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
}

#tote_botella > div {
    max-width: 100%;
}

#tote_botella > div img {
    display: block;
    width: auto;
    height: 100%;
}