#todo {
    padding: 0 2em;
}

#imagenes {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.imagen {
    border-radius: 40px;
}

#tote_botella {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
}

#tote_botella > div {
    max-width: 100%;
}

#tote_botella > div img {
    display: block;
    width: auto;
    height: 100%;
}