.videos {
    width: 100%;
    max-width: 1600px;
    border-radius: var(--project-border-radius);
}

#tote_botella {
    width: 100%;
    max-width: 1600px;
    display: flex;
    gap: 2em;
}

#tote_botella div {
    flex-grow: 1;
}

#tote_botella img {
    height: 100%;
    width: 100%;
}

@media (max-width: 400px) {

    #tote_botella {
        gap: 1em;
    }

}