.videos {
    width: 100%;
    max-width: 1600px;
    border-radius: var(--project-border-radius);
}

@media (max-width: 650px) {
    .videos {
        border-radius: 10px;
    }
}

@media (max-width: 390px) {
    .videos {
        border-radius: 5px;
    }
}