#contra_impresora {
    max-width: 1600px;
    gap: 2em;
    display: flex;
}

#contra_impresora img{
    height: auto;
    width: 100%;
}

@media (max-width: 400px) {

    #contra_impresora {
        gap: 1em;
    }

}