#contra_impresora {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 61.5% 2em 35.5%;
}

#contra_impresora img:first-child {
    grid-column: 1/2;
}

#contra_impresora img:nth-child(2) {
    grid-column: 3/4;
}