#textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6em;
    font-size: 1em;
}

#textos_izq {
    min-width: 260px;
}

#titulo {
    margin-bottom: 1rem;
}

#titulo h2 {
    font-size: 1em;
    font-weight: 400;
}

#informacion {
    margin-bottom: 1.25rem;
}

#mencion {
    margin-bottom: 1.25rem;
}

#categorias {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.categoria {
    padding: .25em 1em;
    border: var(--ancho-borde) solid black;
    border-radius: 40px;
}

.categoria p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_drch {
    margin-bottom: 1em;
}

.small {
    font-size: .85em;
}

.ver_link {
    border-bottom: 1.5px solid black;
}

.ver_link span {
    font-size: 1.5em;
    font-weight: 250;
    transform: translate(5px, 8px);
}

@media (min-width: 1600px) {

    #textos {
        position: fixed;
        flex-direction: column;
        justify-content: initial;
        max-width: 600px;
        gap: 4em;
    }


}

@media (max-width: 1000px) {

    #textos {
        flex-direction: column;
        gap: 4em;
    }

}


@media (max-width: 800px) {

    #textos {
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        font-size: 1em;
    }

}
