#todo {
    padding: 0 50px;
    overflow: hidden;
}

#imagenes {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.imagen {
    border-radius: 40px;
}

@media (min-width: 1600px) {

    #todo {
        display: flex;
        flex-direction: row;
        /* height: calc(100vh - 22em); */
    }

    #imagenes {
        position: absolute;
        left: calc(600px + 2em);
        right: 0;
        margin-top: 0;
        padding: 0 50px 0 4em;
        overflow: hidden;
        padding-bottom: 100px;
        align-items: flex-end;
    }

}

@media (max-width: 650px) {

    #imagenes {
        gap: 1em;
    }

    .imagen {
        border-radius: 20px;
    }

    .arrow.arrow--right {
        right: 10px;
    }

}