#videougc {
    max-width: 100%;
    border-radius: 40px;
}

#textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6em;
}

#textos_izq {
    min-width: 260px;
}

#gifManos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 182/100;
    overflow: hidden;
    background-color: white;
    border-radius: var(--project-border-radius);
    max-width: 1600px;
}

#gifMano {
    height: 130%;
    width: auto;
}

@media (max-width: 400px) {

    #videougc {
        border-radius: 15px;
    }

    #tote_gif {
        gap: 1em;
    }

}