#videougc {
    max-width: 100%;
}

#textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6em;
}

#textos_izq {
    min-width: 260px;
}

#tote_gif {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 41.37% 2em 56.15%;
}

#tote_gif img:first-child {
    grid-column: 1/2;
}

#tote_gif img:nth-child(2) {
    grid-column: 3/4;
}