#videougc {
    max-width: 100%;
}

#textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6em;
}

#textos_izq {
    min-width: 260px;
}

#tote_gif {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
}

#tote_gif > div {
    max-width: 100%;
}

#tote_gif > div img {
    display: block;
    width: auto;
    height: 100%;
}