#imgParallax {
    display: flex;
    align-items: center;
    height: auto;
    overflow: hidden;
    border-radius: var(--project-border-radius);
    gap: 2em;
    max-width: 1600px;
}

#imgParallax img {
    width: 50%;
}